html, body {
  height: 100%;
}
body{
  font-family:'Open Sans', sans-serif;
  margin:15px;
}
a[href]{
  color:#eee;
}
a[href]:hover{
  color:#fff;
}
.stage{
  position:relative;
  width:100%;
  height:calc(100% - 30px);
  height:50%;
  padding:10px;
  box-sizing:border-box;
  background:rgba(0,0,0,0.3);
  background:#8a8a8a;
  color:#eee;
  margin: 15px 0;
  -webkit-transition:background-color .6s ease 0.3s;
  transition:background-color .6s ease 0.3s;
}
.stage.header{
  background:#333;
  color:#fff;
  font-size:14px;
  border:10px solid #555;
  box-shadow:inset 0 0 9px #000;
  box-sizing: border-box;
  position:relative;
  padding:0 20px;
  height:auto;
}
.stage.sst-active{
  background-color:#333;
}
.stage .inner{
  max-width: 560px;
  margin:auto;
}
.header h1{
  font-size:30px;
  font-size:10vw;
  font-weight:400;
  text-align:center;
  font-family:"Fredoka One", Helvetica, sans-serif;
  text-shadow: 3px 3px 0 #222 , 4px 4px 0 #222 , 5px 5px 0 #222 , 6px 6px 0 #222 , 7px 7px 0 #222 , 8px 8px 0 #222 , 9px 9px 0 #222 , 10px 10px 0 #222 , 11px 11px 0 #222 , 12px 12px 0 #222 , 13px 13px 0 #222 , 14px 14px 0 #222 , 15px 15px 0 #222 , 16px 16px 0 #222 , 17px 17px 0 #222 , 18px 18px 0 #222 , 19px 19px 0 #222 , 20px 20px 0 #222 ;
}
.collapse-block{
  position: relative;
  margin: 15px 0 30px 0;
}
.collapse-switch{
  opacity:0;
  width:100px;
  position:absolute;
  margin: 0;
  cursor:pointer;
  z-index:2;
  height:25px;
}
.collapse-switch + b{
  cursor:default;
}
.collapse-switch + b:before{
  content: '+ ';
}
.collapse-switch:checked + b:before{
  content: '- ';
}
.collapse-switch ~ div{
  max-height: 0;
  margin:0;
  opacity:0;
  overflow:hidden;
  border-left: 3px solid #444;
  transition:all .6s ease;
}
.collapse-switch:checked ~ div{
  max-height: 500px;
  opacity:1;
  padding:10px;
}
.header .fluid-table{
  margin: 15px 0 30px 0;
}
.header .fluid-table > div.row{
  border-bottom: 1px solid #444;
  -webkit-box-shadow: inset 0 -1px 0 #222;
  box-shadow: inset 0 -1px 0 #222;
  font-size:0;
}
.header .fluid-table div.row > *{
  display:inline-block;
  width:50%;
  min-width:200px;
  box-sizing: border-box;
  text-align: left;
  font-size:14px;
  padding: 5px 0;
}
@media (min-width:500px){
  .header h1{
    font-size:50px;
  }
}
