html, body {
  height: 100%;
}
body{
    font-family:sans-serif;
    margin:15px;
}
.stage{
    position:relative;
    width:100%;
    height:calc(100% - 30px);
    height:50%;
    padding:10px;
    box-sizing:border-box;
    background:rgba(0,0,0,0.3);
    background:#8a8a8a;
    color:#eee;
    margin: 15px 0;
}
.stage.header{
    background:#333;
    height:420px;
    color:#fff;
    font-size:14px;
    font-family:sans-serif;
    border:10px solid #555;
    box-shadow:inset 0 0 9px #000;
    box-sizing: border-box;
    position:relative;
    padding:0 20px;
}
.header h1{
    font-family:sans-serif;
    text-shadow:0 0 10px #000;
    font-size:50px;
    font-weight:400;
    text-align:center;
}
.header b{
    display:inline-block;
    min-width:140px;
}